<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>Recipe - Blog</h1>
            </div>
            <div class="content">
                <h3>About Us</h3>
                <p>Our journey began with a shared love for the artistry of cooking and the joy of sharing delicious
                    discoveries with friends and family. What started as kitchen experiments quickly evolved into a
                    full-fledged obsession with flavors, techniques, and the stories behind every dish.From classic
                    comfort foods to exotic culinary adventures, our diverse collection of recipes is curated to suit
                    every taste, skill level, and dietary preference. Whether you're a seasoned chef or a kitchen
                    newbie, we've got something delicious waiting for you.

                </p>
                <div class="button">
                    <a href="">Read More</a>
                </div>
            </div>
            <div class="social">
                <a href="">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <div class="image-section">
            <img src="\img\about2.avif">
        </div>
    </div>
</div>