<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Delete Recipe</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">Share your amazing recipies with thousands of web developers accross the world. Fill our form to
            get started.</p>
    </div>
</div>

<div class="row justify-content-center">
    <% if(infoSubmitObj != '') { %>
        <div class="col-8 alert alert-success" role="alert">
          Deleted successfully
        </div>
      <% } %>
    
      <% if(infoErrorsObj != '') { %>
        <div class="col-8 alert alert-danger" role="alert">
         Incorrect password
        </div>
      <% } %>
    <div class="col-8">

        <form action="/recipe/<%= recipe._id %>/deleteOnPost" enctype="multipart/form-data" method="POST">

            <div class="row g-3">

                <div class="col-12">
                    <label for="name" class="form-label">Recipe Name</label>
                    <input type="text" name="name" id="name" class="form-control" value="<%= recipe.name %>" required>

                </div>

                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" class="form-control" value="<%= recipe.email %>">
                </div>

                <div class="col-12">
                    <label for="password" class="form-label">password</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>


                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Delete Recipe</button>
                </div>

            </div>

        </form>

    </div>
</div>